[submodule "awesome/themes/awesome-solarized"]
	path = awesome/themes/awesome-solarized
	url = git@github.com:vpetkov/awesome-solarized.git
[submodule "gnome-terminal/colors/solarized"]
	path = gnome-terminal/colors/solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "vim"]
	path = vim
	url = https://github.com/vpetkov/vimrc.git
[submodule "bash"]
	path = bash
	url = https://github.com/vpetkov/bashrc.git
