[submodule "vim/bundle/zenburn"]
	path = vim/bundle/zenburn
	url = git@github.com:vpetkov/Zenburn.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/thisivan/vim-taglist.git
[submodule "vim/bundle/solarized"]
	path = vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "awesome/themes/awesome-solarized"]
	path = awesome/themes/awesome-solarized
	url = git@github.com:vpetkov/awesome-solarized.git
